# Exercises

## 1. Software Carpentry

1) Write a command-line program that does addition or subtraction or multiply. By default it sums up the two values. Check  `ArgumentParser.add_mutually_exclusive_group()` functionality.

    `python arith.py -a 1 2 / python arith.py --add 1 2`

    `> 3`

    `python arith.py -s 3 4 / python arith.py --subtraction 3 4`

    `> -1`

    `python arith.py -m 2 4 /  python arith.py --multiply 2 4`

    `> 8`

2) Write a function called `average` that calculates the average of the numbers in a list. What pre-conditions and post-conditions would you write for it?

## 2. Numpy

1) In the following table we have expression values for 5 genes at 4 time points.

In [1]:
from IPython.lib import display as dp
%cat 'genes.csv' 
dp.FileLink('genes.csv')

Gene name,4h,12h,24h,48h
A2M,0.12,0.08,0.06,0.02
FOS,0.01,0.07,0.11,0.09
BRCA2,0.03,0.04,0.04,0.02
CPOX,0.05,0.09,0.11,0.14

/Users/eloi/Dropbox/PostGrauDataScience/Postgrau/04_DataScienceToolbox/DataScience-Exercices/genes.csv

   - Create a single array for the data (4x4)
   - Find the mean value per gene
   - Find the mean value per time point
   - Which gene has the maximum mean expression value? (return the whole gene row)

In [ ]:
#Your Code here

## 3. Pandas

**MovieLens database**

In [5]:
import pandas as pd

users_data =  '../ml-1m/users.dat'
ratings_data = '../ml-1m/ratings.dat'
movies_data =  '../ml-1m/movies.dat'


unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv(users_data, sep='::', header=None, names=unames, engine='python')
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(ratings_data, sep='::', header=None, names=rnames,  engine='python')
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv(movies_data, sep='::', header=None, names=mnames,  engine='python')

data = pd.merge(pd.merge(ratings, users), movies)
print (data[:30])

    user_id  movie_id  rating   timestamp gender  age  occupation    zip  \
0         1      1193       5   978300760      F    1          10  48067
1         2      1193       5   978298413      M   56          16  70072
2        12      1193       4   978220179      M   25          12  32793
3        15      1193       4   978199279      M   25           7  22903
4        17      1193       5   978158471      M   50           1  95350
5        18      1193       4   978156168      F   18           3  95825
6        19      1193       5   982730936      M    1          10  48073
7        24      1193       5   978136709      F   25           7  10023
8        28      1193       3   978125194      F   25           1  14607
9        33      1193       5   978557765      M   45           3  55421
10       39      1193       5   978043535      M   18           4  61820
11       42      1193       3   978038981      M   25           8  24502
12       44      1193       4   978018995      M   45          17  98052
13       47      1193       4   977978345      M   18           4  94305
14       48      1193       4   977975061      M   25           4  92107
15       49      1193       4   978813972      M   18          12  77084
16       53      1193       5   977946400      M   25           0  96931
17       54      1193       5   977944039      M   50           1  56723
18       58      1193       5   977933866      M   25           2  30303
19       59      1193       4   977934292      F   50           1  55413
20       62      1193       4   977968584      F   35           3  98105
21       80      1193       4   977786172      M   56           1  49327
22       81      1193       5   977785864      F   25           0  60640
23       88      1193       5   977694161      F   45           1  02476
24       89      1193       5   977683596      F   56           9  85749
25       95      1193       5   977626632      M   45           0  98201
26       96      1193       3   977621789      F   25          16  78028
27       99      1193       2   982791053      F    1          10  19390
28      102      1193       5  1040737607      M   35          19  20871
29      104      1193       2   977546620      M   25          12  00926

                                     title genres
0   One Flew Over the Cuckoo's Nest (1975)  Drama
1   One Flew Over the Cuckoo's Nest (1975)  Drama
2   One Flew Over the Cuckoo's Nest (1975)  Drama
3   One Flew Over the Cuckoo's Nest (1975)  Drama
4   One Flew Over the Cuckoo's Nest (1975)  Drama
5   One Flew Over the Cuckoo's Nest (1975)  Drama
6   One Flew Over the Cuckoo's Nest (1975)  Drama
7   One Flew Over the Cuckoo's Nest (1975)  Drama
8   One Flew Over the Cuckoo's Nest (1975)  Drama
9   One Flew Over the Cuckoo's Nest (1975)  Drama
10  One Flew Over the Cuckoo's Nest (1975)  Drama
11  One Flew Over the Cuckoo's Nest (1975)  Drama
12  One Flew Over the Cuckoo's Nest (1975)  Drama
13  One Flew Over the Cuckoo's Nest (1975)  Drama
14  One Flew Over the Cuckoo's Nest (1975)  Drama
15  One Flew Over the Cuckoo's Nest (1975)  Drama
16  One Flew Over the Cuckoo's Nest (1975)  Drama
17  One Flew Over the Cuckoo's Nest (1975)  Drama
18  One Flew Over the Cuckoo's Nest (1975)  Drama
19  One Flew Over the Cuckoo's Nest (1975)  Drama
20  One Flew Over the Cuckoo's Nest (1975)  Drama
21  One Flew Over the Cuckoo's Nest (1975)  Drama
22  One Flew Over the Cuckoo's Nest (1975)  Drama
23  One Flew Over the Cuckoo's Nest (1975)  Drama
24  One Flew Over the Cuckoo's Nest (1975)  Drama
25  One Flew Over the Cuckoo's Nest (1975)  Drama
26  One Flew Over the Cuckoo's Nest (1975)  Drama
27  One Flew Over the Cuckoo's Nest (1975)  Drama
28  One Flew Over the Cuckoo's Nest (1975)  Drama
29  One Flew Over the Cuckoo's Nest (1975)  Drama

1- Filter films that have received at least 250 ratings:

In [6]:
### Your Code HERE

**Using the previous filtered films**:

2- Obtain the mean ratings for each movie grouped by gender

In [ ]:
### Your Code HERE

**Using the previous filtered films:**

3- Show the films most valued by women.

In [ ]:
### Your Code HERE

**Using the previous filtered films:**

4- Now we wonder which movies are rated more differently between men and women. 
    * Which films have more different rating and are more highly valued by women? 
    * And the films preferred by men which doesn't liked women? 
    * What are the films that have generated the most discordant ratings, regardless of gender?

In [ ]:
### Your Code HERE

5- Calculate the average rating of each user.

In [ ]:
### Your Code HERE

6- What is the highest rated movie in average that have received at least 250 ratings?

In [ ]:
### Your Code HERE

7- Define a function called  <b>top_movies</b> that given an user and a number n, it returns the top n movies for this user.

In [4]:
def top_movies(user):
### Your Code HERE
    return

**Data from CSV**

8- Read data from csv file: `ma-ba.csv`. Count the number of times `Barça` wins `Madrid` and compute the stadistics of % win, % lose and % draw.

In [ ]:
### Your Code HERE

#### !!! Compare your results with the csv files located in results.zip !!!